
.show{
  display: block;
}

.hide{
  display: none;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;

  /*dim the background*/
}

.closeButtonContainer{

  pointer-events: auto;
  position: absolute;
  top: -3.5%;
  left: 98.5%;
}

.open{
  pointer-events: auto;
}

.modal{
  position: fixed;
  z-index: 999;
  top: -200%;
  left: 50%;
  height: 90vh;
  width: 80vw;
  transform: translate(-50%, -50%);
  background-color: white;
  background-size: cover;
  background-repeat: repeat;
  border-radius: 5px;
}

.box{
  height: 100px;
  width: 100px;
  background-color: red;
  opacity: 0;
}

.iframe{
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  margin: 1%;
}
